<div class="container">
  <h1><%= @cocktail.name %> Ingredients</h1>
  <%= simple_form_for [@cocktail, @dose] do |f| %>
    <%= f.input :description, placeholder: "Quantity ingredient"  %>
    <%= f.association :ingredient, collection: Ingredient.order(:name) %>
    <%= f.button :submit, placeholder: "Add dose", class: "btn btn-secondary"%>
  <% end %>

  <hr>

  <%= link_to 'Back', cocktail_path(@cocktail) %>
</div>